
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <h2>Categories</h2>
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable");
            //Html.RenderAction("Create");
        }
    </div>
    <div id="actionContainer">

    </div>
</div>
