@model Product
@{
    ViewBag.Title = "Edit";
}
<h2>Edit Product</h2>

<form id="editProduct">
        <div class="form-group">
            <input name="ID" type="hidden" value="@Model.ID" />
        </div>
        <div class="form-group">
            <label>Name</label>
            <input name="Name" class="form-control" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input name="Description" class="form-control" value="@Model.Description" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input name="Price" class="form-control" value="@Model.Price" />
        </div>
            <button id="updateBtn" class="btn btn-danger" type="button">Update</button>
            <button id="cancelBtn" class="btn btn-danger" type="button">Cancel</button>
</form>
<script>
    $("#updateBtn").click(function () {
        $.ajax(
            {
                type:'post',
                url: '/Product/Edit',
                data: $("#editProduct").serialize()
            }).done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>